#head{
    text-align: center;
    padding:10px;
}
button{
    background-color: rgb(176, 176, 195);
    border:none;
    padding:10px;
    margin:10px;
    border-radius: 5px;
    color:white;
}
#date{
    width:200px;
}
#form{
    display:flex;
    align-items: center;
    justify-content: center;
}

