<div id="timeline">
    <br>
    <div class="time" id="06">6 AM</div>
    <div class="time" id="07">7 AM</div>
    <div class="time" id="08">8 AM</div>
    <div class="time" id="09">9 AM</div>
    <div class="time" id="10">10 AM</div>
    <div class="time" id="11">11 AM</div>
    <div class="time" id="12">12 PM</div>
    <div class="time" id="13">1 PM</div>
    <div class="time" id="14">2 PM</div>
    <div class="time" id="15">3 PM</div>
    <div class="time" id="16">4 PM</div>
    <div class="time" id="17">5 PM</div>
    <div class="time" id="18">6 PM</div>
    <div class="time" id="19">7 PM</div>
    <div class="time" id="20">8 PM</div>
    <div class="time" id="21">9 PM</div>
    <div class="time" id="22">10 PM</div>
    <div class="time" id="23">11 PM</div>
    <div class="time" id="0">12 PM</div>
    <div class="time" id="01">1 AM</div>
    <div class="time" id="02">2 AM</div>
    <div class="time" id="03">3 AM</div>
    <div class="time" id="04">4 AM</div>
    <div class="time" id="05">5 AM</div>
  </div>
